<div class="container-fluid">

<div class="animated zoomIn">
  <h3>Players, are you ready?!</h3>
</div>
<div class="animated zoomInRight">
  <% Game.last.players.each do |player| %>
  <%= player.name %><br>
  <% end %>
</div>
<br>

<div class="animated jackInTheBox">
  <% if !@round_check %>
  <%= form_for @round do |f| %>
  <% if @current_game == 0 %>
  <%= f.hidden_field :game_id, :value => Game.all.last.id %>
  <%= f.submit "Start New Game"%>
  <% else %>
  <%= f.hidden_field :game_id, :value => Game.all.last.id %>
  <%= f.submit "Start New Round" %>
  <% end %>
  <% end %>
  <% else %>
  <%= button_to "Start New Game", games_path, method: :get %>
  <% end %>

</div>
</div>



<!-- hidden field for game id game.last.id-->
<!-- satisfy round parms(hash) -->
<!-- new_statement_path -->
