<div class="container-fluid">

<div class="animated zoomIn">
  <h3>Players, are you ready?!</h3>
</div>
<br>
<br>



<div class="animated zoomInRight">
  <ul>
    <% Game.last.players.each do |player| %>
    <li style="color:blue;"><b><%= player.name.upcase %></b></li><br>
    <% end %>
  </ul>
</div>
<br>
<br>
<div class="animated jackInTheBox">
  <% if !@round_check %>
  <%= form_for @round do |f| %>
  <% if @current_game == 0 %>
  <%= f.hidden_field :game_id, :value => Game.all.last.id %>
  <%= f.submit "Start New Game", :class => 'cool'%>
  <% else %>
  <%= f.hidden_field :game_id, :value => Game.all.last.id %>
  <%= f.submit "Start New Round", :class => 'cool' %>
  <% end %>
  <% end %>
  <% else %>
  <%= button_to "Start New Game", games_path, method: :get, :class => 'cool' %>
  <% end %>

</div>
</div>



<!-- hidden field for game id game.last.id-->
<!-- satisfy round parms(hash) -->
<!-- new_statement_path -->
