<h1>Showing statements</h1>

<%= @true_player.name %>
<h1>Which statements do you think were sincere?</h1><p>

<% @shuffled_array.each_with_index do |statement, index| %>

<% if Round.last.results.exclude?(Round.last.results[index]) %>
<%= form_for @result do |f| %><br>
  <b><%= statement.content %></b><p>
  <%= f.label :answer, "Sincere", :value => true %>
  <%= f.radio_button :answer, true %>
  <%= f.label :answer, "Not Sincere", :value => false %>
  <%= f.radio_button :answer, false %>
  <%= f.hidden_field :game_id, :value => Game.last.id %>
  <%= f.hidden_field :round_id, :value => statement.round_id %>
  <%= f.hidden_field :player_id, :value => statement.player_id %>
  <%= f.hidden_field :statement_id, :value => statement.id %>
  <%= f.submit %>
  <p>
    <% end %>
<% end %>
<% end %>
