<h1>Enter Dislike Statements</h1>
<!-- @player.name -->
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<% if Round.last.statements.where(player_id: @form_position[0].id).size < 1 %>
<p><b>Player:</b> <%= @form_position[0].name %></p>
<em>Please Enter statements below:</em>
<%= form_for @statement do |f| %><br>
  <%= f.label "Dislike Content #1 (Enter true statement here)" %><br>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :answer, :value => true %>
  <%= f.hidden_field :player_id, :value => @form_position[0].id %>
  <%= f.hidden_field :round_id, :value => Game.last.rounds.last.id %>
  <%= f.submit "Submit statement" %>
  <% end %>
<% elsif Round.last.statements.where(player_id: @form_position[0].id).size == 1 %>
  <em>Please Enter statements below:</em>
  <%= form_for @statement do |f| %><br>
  <%= f.label "Dislike Content #2 (Enter false statement here)" %><br>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :answer, :value => false %>
  <%= f.hidden_field :player_id, :value => @form_position[0].id %>
  <%= f.hidden_field :round_id, :value => Game.last.rounds.last.id %>
  <%= f.submit "Submit statement" %>
  <% end %>
<% end %>
<br><br>

<% if Round.last.statements.where(player_id: @form_position[1].id).size < 1 %>
<p><b>Player:</b> <%= @form_position[1].name %></p>
<em>Please Enter statements below:</em>
<%= form_for @statement do |f| %><br>
  <%= f.label "Dislike Content #1 (Enter true statement here)" %><br>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :answer, :value => true %>
  <%= f.hidden_field :player_id, :value => @form_position[1].id %>
  <%= f.hidden_field :round_id, :value => Game.last.rounds.last.id %>
  <%= f.submit "Submit statement" %>
  <% end %>
<% elsif Round.last.statements.where(player_id: @form_position[1].id).size == 1 %>
  <p><b>Player:</b> <%= @form_position[1].name %></p>
  <em>Please Enter statements below:</em>
  <%= form_for @statement do |f| %><br>
  <%= f.label "Dislike Content #2 (Enter false statement here)" %><br>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :answer, :value => false %>
  <%= f.hidden_field :player_id, :value => @form_position[1].id %>
  <%= f.hidden_field :round_id, :value => Game.last.rounds.last.id %>
  <%= f.submit "Submit statement" %>
<% end %>
<% end %>
