
<div class="container-fluid animated zoomIn">

<% if Game.last.status == true %>

  <% @results.each_with_index do |result, index| %>

    <% if Rails.application.config.my_config[index].answer == result.answer %>
      <b>For:</b> "<%= Rails.application.config.my_config[index].content %>"<br>
      <b><%= @true_player.name.upcase %> guessed: </b><%= result.answer.to_s %><br>
      <font color="green">You chose the correct answer. Someone genuinely dislikes this about you!</font><br><br>
    <% else %>
      <b>For:</b> "<%= Rails.application.config.my_config[index].content %>"<br>
      <b><%= @true_player.name.upcase %> guessed: </b><%= result.answer.to_s %><br>
      <font color="red">This was an insincere statement. The correct answer for this statement is: <%= Rails.application.config.my_config[index].answer %></font><br><br>
    <% end %>

<% end %>

      <% if Game.last.rounds.size != 6 %>
        <div class="animated jackInTheBox"><%= button_to "Next Round", new_round_path, method: :get %></div>
      <% end %>

<% else %>
      <% Game.last.players.each do |player| %>
      | <b><%= player.name.upcase %>:</b> <%= player.points %> points |
<% end %>
  <div class="animated jackInTheBox"><%= link_to "New Game", games_path %></div>

    <h5> Here's a list of all genuine dislikes! </h5>
      <% Game.last.rounds.each do |round| %>
            <% round.statements.where(answer: true).each do |statement| %><p>
              <%= statement.content %>
            <% end %>
      <% end %>

<% end %>


 <% if Game.last.rounds.size == 6 && Game.last.status == true %>
   <div class="animated jackInTheBox">
     <button type="button" class="btn"><%= link_to "Show Results!", endgame_path, method: :get %></button>
   </div>
 <% end %>

</div>
