<h1> Create a new player! </h1>

<%= form_for(@player) do |f| %>

<% if flash[:error] %>
<% flash[:error].each do |error| %>
<b>* <%= error %></b><p>
<% end %>
<% end %>
<p>

<div class="field">
<%= f.label :name %>
<%= f.text_field :name %><p>
  <%= f.hidden_field :game_id, :value => Game.all.last.id %>
  <%= f.hidden_field :position, :value => @random_player.position %>
</div>
<%= f.submit %>
<% end %>
